html,body{
  height: 100%;
  margin: 0;
  padding: 0;
}
header {
  background-image: linear-gradient(rgba(233, 239, 249,0.3),rgba(233, 239, 249,0.7)), url('/assets/images/karate-belts-blue-bg.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  height:400px;
}
#h1KTMS{
  color: #1f61bf;
  font-family: 'Oswald', sans-serif;
  font-weight: 500;
  font-size: 75px;
  text-align: center;
  margin-top: 10px;
  text-shadow: #164486 2px 5px 2px;
  -webkit-text-stroke: thin #133b75;
  margin-bottom: 25px;

}
#h2KTMS{
  color: #1f61bf;
  font-family: 'Oswald', sans-serif;
  font-weight: 500;
  font-size: 55px;
  text-align: center;
  margin-top: 0;
  text-shadow: #164486 2px 5px 2px;
  -webkit-text-stroke: thin #133b75;
}
.languages {
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.languages select {
  padding: 5px 10px;
  border-radius: 5px;
  border: 2px solid #133b75;
  background-color: transparent;
  cursor: pointer;
  font-family: 'Anton', sans-serif;
  letter-spacing: 2px;
  color: #133b75;
  -webkit-text-stroke: thin white;
  font-size: 20px;

}
button{
  width: 250px;
  height: 50px;
  border: none;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.15);
  color: #133b75;
  font-family: 'Anton', sans-serif;
  letter-spacing: 1px;
  font-size: 22px;
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease, background 0.3s ease;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.3);


}
.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  gap: 20px;
  padding-top: 25px;
  padding-bottom:25px;
  /*background:linear-gradient(135deg,rgba(31,97,191,1), rgba(22,68,134,1));*/
  background-color: #e9eff9;

}
.buttons button:hover{
  transform: scale(1.05);
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0 6px 15px rgba(0,0,0,0.35);
}
.aboutUs {
  position: relative;
  background: linear-gradient(135deg,rgba(233,239,249,0.8), rgba(233,239,249,0.8)),url(/assets/images/logoClear.png);
  background-color: #e9eff9;
  background-size: 800px 800px;
  background-position: center;
  background-repeat: no-repeat;
  display: grid;
  grid-template-rows: auto 1fr;
  border-top: #133b75 1px solid;
}

.aboutUs h1 {
  font-family: 'Great Vibes', cursive;
  letter-spacing: 1px;
  font-size: 60px;
  color: #133b75;
  margin: 0;
  padding: 20px;

}
#P1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-style: italic;
  letter-spacing: 1px;
  font-size: 20px;
  color: #133b75;
  line-height: 1.5;
  text-align: justify;
  padding:0 30px;

}
.footer {
  background-color: #a3bee5;
  color: #1f61bf;
  font-family: 'Anton', sans-serif;
  letter-spacing: 2px;
  width: 100%;
  padding: 10px 20px;  /* smanjen padding da footer bude nizak */
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 5px;  /* razmak između gornje i donje sekcije */
}

.top {
  display: flex;
  justify-content: center; /* centriramo cijelu top sekciju */
  align-items: center;
  gap: 30px; /* razmak između logo i kontakta */
}
.top::after {
  content: "";
  width: 1px;
  background-color: #1f61bf;
  height: 80px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.logoPhoto {
  width: 300px;
  height: auto;
  z-index: 1;
}

.contact p {
  margin: 0;
  font-family: 'Montserrat', sans-serif,bold ;
  font-weight: 950;
  font-style: italic;
  letter-spacing: 1px;
  font-size: 20px;
  text-align: left;
  z-index: 1;
}

.contact a {
  color: #1f61bf;
  font-family: 'Montserrat', sans-serif;
  font-weight: 550;
  font-style: italic;
  letter-spacing: 1px;
  font-size: 20px;
  text-decoration: none;
  transition: 0.3s ease;
}

.contact a:hover {
  color: black;
  text-decoration: underline;
}

.copyright {
  text-align: center;
  font-size: 15px;
  margin-top: 5px;
  font-family: 'Montserrat', sans-serif,bold ;
  font-weight: 950;
}
.devider {
  border: none;
  border-top: 2px solid #1f61bf;
  margin: 5px 0;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
